@import 'toc';

nav {
    padding: 3px;

    a {
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
    }
}

header {
    display: flex;
    flex-direction: column;

    h1 {
        align-self: center;
        margin-top: 10px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0;
        align-self: center;
    }
}


section {
    display: flex;
    flex-direction: column;

    h1 {
        color: $color-text;
        padding: 3px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    hr {
        width: 100%;
        align-self: center;
    }
}


img {
    max-width: 80vw;
}
