---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p>
        <em>
        {% if page.custom.affiliation != nil %}
            所属: 
                <a href="../../basic-history/{{ page.custom.affiliation.link }}">
                    {{ page.custom.affiliation.title }}
                </a>
        {% else %}
            趣味
        {% endif %}
        </em>
    </p>
    <p>
        <em>時期: {{ page.custom.period }}</em>
    </p>
    <hr />
  </header>

  <div id="table-of-contents">
    {{ content | toc_only }}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
