<!doctype html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <main>
      <header>
        <h1>
          {{ page.title }}
        </h1>
      </header>
      <section>
        {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}">{{ post.date | slice: 0, 10 }} - {{ post.title }}</a>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
